link(rel="import" href="../lib/bower_components/polymer/polymer.html")
link(rel="import" href="../lib/bower_components/app-route/app-location.html")
link(rel="import" href="../lib/bower_components/app-route/app-route.html")

link(rel="import" href="oj-menu.html")
link(rel="import" href="oj-menu-item.html")
link(rel="import" href="oj-page.html")
link(rel="import" href="oj-footer.html")

dom-module#oj-app
	// ---------------------------------------------------------------
	style
		:stylus
			@import '../_lib/css/elements.imports.styl'
			:host
				display: block
				.trap-top
					position: fixed

	// ---------------------------------------------------------------
	template
		app-location#location(
			route='{{route}}'
			use-hash-as-path
		)
		app-route#route(
			route='{{route}}'
			pattern='/:page'
			data='{{pageData}}'
			tail='{{pageTail}}'
		)
		
		.trap-top
		oj-menu#main-menu(logo=JSON.stringify(data.home_logo))
			each item in data.main_menu.pl
				oj-menu-item(href=item.href title=item.title)= item.title

		oj-page(page='[[pageData.page]]' route='[[pageTail]]')

		content

		oj-footer

	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-app'

				ready: ->
					return
				attached: ->
					if !this.route.path
						this.set 'route.path', '/'
					return
				detached: ->
					return
