link(rel="import" href="../lib/bower_components/polymer/polymer.html")

dom-module#oj-footer
	// ---------------------------------------------------------------
	style
		:stylus
			@import '../_lib/css/elements.imports.styl'
			:host
				display: block
				width: 100%
				clearfix()
				padding: 4.5rem 0 0 0
				background-image: url('/assets/images/jazdow-pw.png')
				background-position: right bottom
				background-repeat: no-repeat
				background-color: $oj-light
				+below(800px)
					padding: 2.5rem 0 0 0
				.inner-section
					lost-center: $grid-width 1rem flex
					clearfix()
					+below(1100px)
						padding: 0 1rem
				.contacts
					lost-column: 3/4 2 $gutter flex
					margin-bottom: 8rem
					padding-bottom: 2rem
					background-color: rgba($oj-light, .7)
					+below(800px)
						lost-column: 1/1 1 $gutter flex
						margin-bottom: 3rem
						padding: 3rem 0
					.contact
						display: block
						float: left
						margin-right: $gutter
						.contact-title
							font-size: 1rem
							line-height: 1.2em
							font-weight: 700
							font-family: P
							letter-spacing: 0.08em
							text-transform: uppercase
						.contact-details
							p
								font-size: 1.2rem
								line-height 1.5em
								letter-spacing 0.04em
								margin-bottom: 1rem
				.social
					lost-column: 1/4 2 $gutter flex
					+below(800px)
						lost-column: 1/1 1 $gutter flex
						margin-bottom: 6rem
						text-align: center
					.social-icon
						icon()
						display: block
						size: 2rem
						float: right
						color: $oj-violet
						font-size: 2rem
						text-align: right
						margin-left: $gutter
						&#facebook:after
							content: 'b'
						&#google:after
							content: 'a'
						&#instagram:after
							content: 'd'
						+below(800px)
							float: none
							margin-left: 0
							margin-right: $gutter
							display: inline-block
	// ---------------------------------------------------------------
	template
		.inner-section
			.contacts
				each contact in data.contacts 
					.contact
						h4.contact-title= contact.title.pl
						.contact-details
							p!= contact.details
			.social
				each link in data.social
					a.social-icon(id=link.type href=link.href title=link.type)


	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-footer'

				ready: ->
					return
				attached: ->
					return
				detached: ->
					return


				check_deps: ->
					deps = []
					thisis = this.is
					for dep in deps
						do (dep)->
							if typeof window[dep] is 'undefined'
								console.error thisis + ' polymer element needs ' + dep
