link(rel="import" href="../lib/bower_components/polymer/polymer.html")
link(rel="import" href="../lib/bower_components/app-route/app-route.html")
link(rel="import" href="../lib/bower_components/iron-ajax/iron-ajax.html")
link(rel="import" href="oj-about.html")

dom-module#oj-page
	// ---------------------------------------------------------------
	style
		:stylus
			@import '../_lib/css/elements.imports.styl'
			:host
				display: block
				min-height: 10rem

	// ---------------------------------------------------------------
	template
		app-route#route(
			route='{{route}}'
			pattern='/:view'
			active='{{viewActive}}'
			data='{{viewData}}'
		)
		iron-ajax(
			auto
			url='[[_computeURL(page)]]'
			handle-as='json'
			last-response='{{load}}'
		)
		template(is='dom-if' if='{{layout.home}}')
			oj-about(data='[[load]]')
		template(is='dom-if' if='{{layout.events}}')
			h1 [[load.title]]
		template(is='dom-if' if='{{layout.map}}')
			h1 [[load.title]]
		template(is='dom-if' if='{{layout.history}}')
			h1 [[load.title]]
		template(is='dom-if' if='{{layout.model}}')
			h1 [[load.title]]
		template(is='dom-if' if='{{layout.partnership}}')
			h1 [[load.title]]
		template(is='dom-if' if='{{layout.default}}')
			h1 default layout

	// ---------------------------------------------------------------
	script
		:coffee-script
			Polymer
				is: 'oj-page'
				
				properties:
					layout:
						type: Object
						computed: '_computeLayout(page)'
				
				_computeLayout: (page)->
					layout = {}
					switch page
						when ''								then layout.home = true
						when 'wydarzenia','events' 			then layout.events = true
						when 'mapa','map' 					then layout.map = true
						when 'historia','history' 			then layout.history = true
						when 'model' 						then layout.model = true
						when 'partnerstwo','partnership' 	then layout.partnership = true
						else layout.default = true
					return layout
				
				_computeURL: (page)->
					return "/data/#{page}/index.json"

				ready: ->
					return
				attached: ->
					return
				detached: ->
					return
