section#history.full
	.inner-section.timeline
		.timeline-intro
			h1.section-title= title
			p!= content		
		#timeline
			each event in timeline
				.timeline-event
					.timeline-event-date= event.date
					.timeline-event-content
						h4= event.title
						p!= event.text
						if event.photo
							.event-image
								img(src=event.photo.image alt=event.title)
						if event.photo
							.event-caption
								p!= event.photo.caption
