section#home-events.full
	.inner-section.home-events
		.calendar-info-col
			h1.section-title= events.title
			p= events.intro
		.extra-col
			.calendar-illustration
				img(src=events.image)
		.calendar-col
			oj-calendar(
				limit=events.limit
				show-days=events.showDays
				api-key=data.google.apikey
				calendar-ids=JSON.stringify(data.google.calendars)
				)
			a.oj-button-a(href=events.page)= events.button
