section#video-background.bg
	oj-video#video(
		poster=data.video.poster
		track=video.track
		banner=video.banner
		bannertext=video.bannertext
		lang=lang
		source=JSON.stringify(data.video.source)
		)
		a#big-logo(href=data.home_url)
